<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}"/>
</head>
<body>
    <div class="center">
        <div class="item_row">
            <p>Are you sure you want to delete "{{ item }}"?</p>
            <div class="upd">
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" title="Delete" value="Delete" class="btn_dng btn">
                </form>
                <form action="{% url 'list' %}">
                    <input type="submit" title="Cancel" value="Cancel" class="btn btn_sub">
                </form>
            </div>
        </div>
    </div>
</body>
