/* page */

body{
    background-color: #68C4E3;
    color: #4f4f4f;
    width:600px;
    margin:auto;
}
/*Add Task Form*/
.task_form{
    background-color: white;
    margin: 10px 0;
    padding: 8px 8px 3px 8px;
    box-shadow: 1px 4px 9px 1px rgb(88 88 88 / 50%);
    border-radius: 3px;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
}
textarea{
    resize: none;
    width: 90%;
    margin: 0 5px 5px 0;
    border-radius: 5px;
}

.btn{
    height: 35px;
    border-radius: 3px;
    border-style: none;
    margin: 0 5px 5px 0;
    padding: 5px;
}
.btn_sub{
    background-color: #008CBA;
    color:white;
}
.btn_dng{
    background-color:#f44336;
    color: white;
}
.upd{
    display: flex;
    justify-content: left;
}

form{
    margin: 0;
}
.item_row{
    background-color: white;
    padding: 8px;
    margin: 10px 0;
    border-radius: 3px;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    box-shadow: 1px 4px 9px 1px rgb(88 88 88 / 50%);
}
.task_title{
    padding: 2px 3px;
    display: inline-block;
    background-color: rgb(246, 216, 155);
    border-radius: 3px;
    border-color: rgb(157, 137, 98);
    border-style: solid;
    border-width: 1px;
    color: #4f4f4f;
    margin: 0 5px 5px 0;
}
.strike{
    text-decoration: line-through;
}
.cell{
    color: white;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 3px;
    margin: 0 5px 5px 0;
}
/* delete html */

