/* page */

.center{
    width:600px;
    margin:auto;
    /*padding:20px;*/
}
body{
    background-color: burlywood;
}
/*Add Task Form*/
.task_form{
    background-color: white;
    margin: 10px 0;
    padding: 5px;
}
textarea{
    resize: none;
    width: 90%;
    margin: 5px;

}
.btn{
    height: 35px;
    border-radius: 3px;
    border-style: none;
}
.btn_sub{
    height: 30px;
    width: 20%;
    margin: auto;
    background-color: #2c84d6;
    
}

/* task element*/

a{
    text-decoration: none;
    color:rgb(216, 216, 216);
}
a:hover{
    color: rgb(120, 120, 120);
}

p{
    margin: 8px 0;
}
.item_row{
    background-color: white;
    padding: 8px 10px;
    margin: 10px 0;
    border-radius: 3px;
    border-color: grey;
    border-width: 2px;
    border-style: solid;
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.5);
}
.task-title{
    padding: 2px 3px;
    display: inline-block;
    background-color: rgb(246, 216, 155);
    border-radius: 3px;
    border-color: rgb(157, 137, 98);
    border-style: solid;
    border-width: 1px;
}
.strike{
    text-decoration: line-through;
}
.cell{
    color: white;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 3px;
}
.imp{
        background-color: #861cb0;
        color: rgb(251, 251, 251);
}
.not-imp{
    background-color: #90ff70;
}
.l_btn{
    color:white;
}
.l_dng{
    background-color: #ff5954;
}
.l_upd{
    background-color: #2c84d6;
}
/* delete html */
.btn_del{
    background-color:#ff5954;
    margin: 0 2px;
}
.upd{
    display: flex;
    justify-content: left;
}
.l_canc{
    /* display: inline-block; */
    margin: 0 2px;
}
